@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Montserrat:wght@300&family=Moon+Dance&display=swap');

footer {
    background-color: #ee956f25;
    color: #ffffff;
    text-align: center;
    padding: 30px 0px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

h3 {
    font-weight: bolder;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.boxf {
    color: #ffffff;
    font-weight: bolder;
		padding: 1%;
}

.boxf ul {
    list-style: none;
    padding: 0;
}

.boxf li {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    list-style-type: none;
}

.boxf a {
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

.boxf a:hover {
    color: #ffffff;
}

.boxf i {
    color: #ffffff;
    font-size: 18px;
    list-style-type: none;
}

.site-info {
    margin-top: 15px;
    text-shadow: 2px 2px 5px #250e05;
}

@media (max-width: 768px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
