@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Montserrat:wght@300&family=Moon+Dance&display=swap');

.containerlanding {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.p-landing {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: black;
	text-align: center;
	font-weight: bolder;
	font-family: 'Montserrat', sans-serif;
}

.caption-text {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	font-size: 25px;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	color: black;
	cursor: pointer;
	transition: background-color 0.3s;
	border-radius: 10px;
}

.caption-text:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.caption-text:active {
	background-color: rgba(255, 255, 255, 0.9);
}

.icono-landing {
	height: 10rem;
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10px;
}