@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Montserrat:wght@300&family=Moon+Dance&display=swap');
.navbar {
  background-color: #1c9bf600;
  font-family: 'Montserrat', sans-serif;
}
.anclas:hover {
    text-decoration: underline ;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #010101;
  text-shadow: 0 0 15px #fff;
  font-size: 1.8rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  text-align: right;
}
.logo{
  width: 130px;
  height: 130px;
}


/* navBar.css */
/* navBar.css */
.navbar-nav .nav-link {
  text-decoration: none !important;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color:#fff;
}


