@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Montserrat:wght@300&family=Moon+Dance&display=swap');
.navbar {
  background-color: #1c9cf6;
  font-family: 'Montserrat', sans-serif;
}
.anclas:hover {
    text-decoration: underline ;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
    text-shadow: 0 0 15px #fff;
  font-size: 1.3rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
  text-align: right;
}


